.animation {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    height: 256px;
    width: 256px;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg); 
  }
}
